.first_hr{
    background-color: #8c8b8b;
}

.second_hr{
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}

#clock{
    font-size: x-large;
    position:fixed;
    bottom:5%;
    right:5%;
}